<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ACUtils.EnvironmentUtils" version="1.0.0.140" targetFramework="net461" />
  <package id="ACUtils.FileUtils" version="1.0.0.142" targetFramework="net461" />
  <package id="ACUtils.Logger" version="1.0.0.140" targetFramework="net461" />
  <package id="ACUtils.SqlDb.Utils" version="1.0.0.144" targetFramework="net461" />
  <package id="ACUtils.StringUtils" version="1.0.0.141" targetFramework="net461" />
  <package id="ARXivar.WebApi.Client.Arxivar.NetFx" version="2.5.0" targetFramework="net461" />
  <package id="ARXivar.WebApi.Client.ArxivarManagement.NetFx" version="2.5.0" targetFramework="net461" />
  <package id="ARXivar.WebApi.Client.ArxivarWorkflow.NetFx" version="2.5.0" targetFramework="net461" />
  <package id="JsonSubTypes" version="1.8.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="RestSharp" version="105.1.0" targetFramework="net461" />
  <package id="Serilog" version="2.10.0" targetFramework="net461" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net461" />
  <package id="System.Diagnostics.EventLog" version="6.0.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.AccessControl" version="4.6.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>